.animated-button-dark {
    // color: #fff;
    background: linear-gradient(to left, #eeefef 50%, #582066 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all 1s ease;

    &:hover {
        // transform: skewX(-22deg);
        background-position: right bottom;
        color: #582066;
    }
}
.animated-button-light {
    // color: #fff;
    background: linear-gradient(to left, #582066 50%, #eeefef 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all 1s ease;

    &:hover {
        // transform: skewX(-22deg);
        background-position: right bottom;
        color: #fff;
    }
}